@import url('tailwindcss/base');
@import url('tailwindcss/components');
@import url('tailwindcss/utilities');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Lilita+One&family=Quicksand:wght@300..700&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: rgb(255 255 255 / 87%);
  background-color: #e6e6e6;
  font-synthesis: none;
  color-scheme: dark;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#logo {
  font-family: DynaPuff, sans-serif;
  font-weight: 400;
}

h1, h2 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
}

body, h3, h4, h5, h6 {
  font-family: quicksand, sans-serif;
  font-weight: 700;
}